
 /*First Page HTML startes here*/

body {
	background: url(../images/background.jpg) no-repeat fixed;
	background-size: 100% 100%;

}

.subtitle {
	text-align: center;
	font-size: 20px;
	color: #DEA96C;
	font-family: 'Macondo Swash Caps', cursive;
	margin-bottom: 60px;
	padding: 0;
}

.joyn {
	text-align: center;
	font-size: 115px;
	color: #FDFDBE;
	font-family: 'Fredericka the Great', cursive;

}

.container-fluid {
	background: rgb(200, 54, 54);
   	background: rgba(200, 54, 54, 0.5);
	width: 50%;
	height: 100%;
	border: 2px solid black;
	border-radius: 130px/10px;
	margin-top: 100px;
	padding-bottom: 20px;

}

 button {
    outline: none;
}
button:focus {outline:0;}
