/*User activities starts here*/


body {
	background: url(../images/background.jpg) no-repeat fixed;
	background-size: 100% 100%;
	
}

#combine-button {
	border: 2px solid transparent;
	border-radius: 130px/10px;
	margin: auto;
	display: block;
	width: 50%;
}

.btn-warning, .btn-group {
	text-align: center;
	color: white;
	margin: 20px 0px 0px 100px;
	border-radius: 20px;
	font-size: 14px;
}

.populatedLikesDislikes {
	width: 50%; 
	height: 100%; 
	margin: auto;
	margin-top: 20px;
	border: 2px solid black;
	background: rgb(200, 54, 54);
   	background: rgba(200, 54, 54, 0.5);
   	border-radius: 130px/10px;
   	display: block;
   	color: white;
}

#dislikes {
	width: 40%;
	margin-left: 30px;
	background-color: #E5A21E;
	border-radius: 30px/10px;
	color: #281C78;
	float: left;
	font-family: 'Marck Script', cursive;
	font-size: 18px;
}

#dislikes:hover {
	background-color: #D19A94;
}

#likes {
	width: 40%;
	background-color:#E5A21E;
	margin-left: 30px;
	border-radius: 30px/10px;
	color:#281C78;
	font-family: 'Marck Script', cursive;
	font-size: 18px;
}

#likes:hover {
	background-color: #D19A94;
}

.btn-no, .btn-chat, .infoBtn, .btn-remove, .btn-yes {
	color: #281C78;
	background-color: #E5A21E;
	width: 100px;
   	border-radius: 30px/10px;
	font-size: 13px;
	margin:  0px 5px 10px 50px;
	display: inline;
	font-family: 'Fredericka the Great', cursive;
}

p {
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: 'Fredericka the Great', cursive; 

}

#exampleModalLongTitle, #Description, #Directions {
	color: green;
	text-align: center;
	font-size: 14px;
}

#modalDescription, #modalDirections {
	font-size: 14px;
	color: black;
}

 